.container-2{
    border: 1px solid blue;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.flex-box-container-2{
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}

.flex-box-container-2 img{
    box-shadow: 0px 10px 50px rgba(62, 46, 0, 0.76);
    margin: 10px;
}