.container-2{
    border: 1px solid blue;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.flex-box-container-2{
    display: flex;
    border: 1px solid rgba(62, 46, 134, 0.76);
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}

.flex-box-container-2 img{
    border: 1px solid rgb(194, 25, 194);
    padding: 10px;
}